@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: white;
}

#homeSection {
  background-image: url("../img/bg-home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.img-logo-phone {
  max-width: 50%;
}

.cont-img-profile {
  align-content: center;
  text-align-last: center;
}

.img-profile {
  width: 60%;
  border-radius: 10%;
}

.box {
  position: relative;
}

.box::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 102%;
  background: white;
  left: -15px;
  top: 19px;
}

.box::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
  left: -22px;
  top: 4px;
}

.text-h3-education {
  font-size: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.icon-contact {
  font-size: 20px;
  color: #ffffff;
  float: left;
  margin-right: 10px;
}

#portafolio {
  background-image: url("../img/bg-portafolio.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.width-my-card {
  width: 100%;
}

.color-text-title {
  color: #212529;
}

@media (max-width: 768px) {
  .navbar-brand {
    width: 200px;
  }

  .img-logo-phone {
    height: auto;
    max-width: 100%;
  }

  .img-profile {
    width: 90%;
  }

  .mt3-modify {
    margin-top: 1rem !important;
  }
}
